<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>id cargo: {{data.IDCARGO}}</div>
<div>Cargo: {{data.NOMBRECARGO}}</div>
<<<<<<< HEAD
<div>Descripcion: {{data.DESCRIPCION}}</div>
=======
<div>Descripcion: {{data.DESCRIPCION}}</div>
>>>>>>> 27a01c5a994f97738c2aee97e385a19a4881b706
